@inherits LayoutComponentBase
@layout MainLayout
@inject IAccountService AcccountService
@inject NavigationManager NavigationManager

<div>
    @Body
</div>

@code {
    protected override void OnInitialized()
    {
        if (AcccountService.IsAuthenticated())
        {
            NavigationManager.NavigateTo("/movies");
        }
    }
}
