@namespace MovieDB.Client.Web.Components

<span>
    @foreach (var i in range) {
        if (i <= rating) {
            <i class="fad fa-fire-alt mr-1" style="color: darkorange;"></i>
        } else {
            <i class="fad fa-fire-alt mr-1"></i>
        }
    }
</span>

@code {
    private int[] range = { 1, 2, 3, 4, 5 };

    [Parameter]
    public int rating { get; set; }
}
