@page "/login"
@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks

@inject State state

<div class="container mx-auto pt-6">
  <div class="w-full max-w-xs mx-auto">
    <div class="p-6 text-center">
      <i class="fad fa-dice-d10 fa-2x" style="color: dodgerblue;"></i>
    </div>
    <EditForm Model="_loginModel" class="bg-white shadow-md rounded p-6" OnValidSubmit="HandleSubmit">
      <DataAnnotationsValidator />
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <InputText @bind-Value="_loginModel.Email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" placeholder="Email" />
        <p class="text-red-500 text-xs italic">
          <ValidationMessage For="@(() => _loginModel.Email)" />
        </p>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <InputText @bind-Value="_loginModel.Password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="**********" />
        <p class="text-red-500 text-xs italic">
          <ValidationMessage For="@(() => _loginModel.Password)" />
        </p>
      </div>
      <div class="flex items-center justify-between">
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          @if(!_isSubmitting) {
            @("Sign In")
          } else {
            <i class="fad fa-spinner-third fa-spin" style="color: white;"></i>
          }
        </button>
      </div>
    </EditForm>
  </div>
</div>

@code {
  private LoginModel _loginModel = new LoginModel();
  private bool _isSubmitting = false;

  private async void HandleSubmit()
  {
    _isSubmitting = true;
    Console.WriteLine(DateTime.Now.Second);
    await Task.Delay(2000);
    Console.WriteLine(DateTime.Now.Second);
    _isSubmitting = false;
    state.IsAuthenticated = true;
    StateHasChanged();
  }

  private class LoginModel
  {
    [Required]
    [EmailAddress]
    public string Email { get; set; }

    [Required]
    [StringLength(255, ErrorMessage = "Password must be at least {2} characters long.", MinimumLength = 6)]
    public string Password { get; set; }
  }
}