.movie__poster {
  @apply rounded-r;
  background-clip: border-box;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: auto;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media (max-width: 640px) {
  .movie__poster {
    background-size: 200px;
    width: 200px;
  }
}
